@import'operadores/extend';
@import'operadores/mapas';

main {
    section {
        h3 {
            @extend %estilo-titulos;
            color: map-get($color, gris-oscuro);
        }
    }
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    margin-bottom: 2.33rem;

    @media (max-width: 450px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 220px;
    }

    @media (min-width:451px) and (max-width: 960px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 220px;
    }

    .galeria-items {
        position: relative;
        transition: opacity 0.4s, transform 0.4s;

        &:hover {
            transform: scale(1.03);
        }

        a {
            .galeria-imagen {
                width: 100%;
                height: 100%;
                object-fit: cover;
                -webkit-box-shadow: 10px 10px 15px -5px #7f5ea0;
                -moz-box-shadow: 10px 10px 15px -5px #7f5ea0;
                box-shadow: 10px 10px 15px -5px #7f5ea0;
            }

            h2 {
                position: absolute;
                bottom: 0;
                color: map-get($color, blanco);
                background-color: map-get($color, violeta);
                font-family: map-get($font-family, font1);
                width: 99%;
                padding: 5px 0;
                padding-left: 5px;
                font-size: 20px;
            }
        }

        @media (max-width: 450px) {
            grid-column: span 1;
            grid-row: span 1;
        }

        @media (min-width:451px) and (max-width: 960px) {
            grid-column: span 1;
            grid-row: span 1;
        }


    }
}