@import'operadores/mixin';
@import'operadores/mapas';

section {

    .accordion-button:not(.collapsed) {
        color: map-get($color, gris-oscuro);
        background-color:  map-get($color, blanco);
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }

    .historial {
        .info-club {
            @include flex(flex,flex-start,center);            
            padding: map-get($padding, p1);

            .titulo-secciones {
                font-family: map-get($font-family, font1);
                color: map-get($color, gris-oscuro);
                font-size: 3rem;
            }
        }
    }

    .registro {
        margin-bottom: 2rem;
        .equipo-rival {
            list-style: none;
            font-family: map-get($font-family, font1);
            color: map-get($color, gris-oscuro);
            font-size: 1rem;

            .titulo-rival {
                @include flex(flex,flex-start,center);                
            }
        }
    }

    .subtitulo-equipos {
        font-family: map-get($font-family, font1);
        color: map-get($color, gris-oscuro);
        font-size: 1.75rem;
        padding: 1rem;
        margin: 1rem 1rem 1rem 0;
        text-decoration: none;

        .item-lista-torneos {
            font-family: map-get($font-family, font1);
            font-size: 1.25rem;
            list-style: square;
        }
    }

    .extra-animacion-equipos {
        padding: map-get($padding, p1);
        margin-left: 0rem;
        background-color:  map-get($color, gris);

        .animacion-boton {
            transition: 1s;

            &:hover {
                transform: scale(0.97);
            }

            .boton {
                font-size: 0.60rem;
                text-decoration: none;
                padding: map-get($padding, p035);
                text-align: center;
            }
        }
    }
}