section {

    .accordion-button:not(.collapsed) {
        color: #2e3e4a;
        background-color: #ffffff;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }

    .historial {
        .info-club {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem;

            .titulo-secciones {
                font-family: "theboldfont";
                color: #2E3E4A;
                font-size: 3rem;
            }
        }
    }

    .registro {
        margin-bottom: 2rem;
        .equipo-rival {
            list-style: none;
            font-family: "theboldfont";
            color: #2E3E4A;
            font-size: 1rem;

            .titulo-rival {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }

    .subtitulo-equipos {
        font-family: "theboldfont";
        color: #2E3E4A;
        font-size: 1.75rem;
        padding: 1rem;
        margin: 1rem 1rem 1rem 0;
        text-decoration: none;

        .item-lista-torneos {
            font-family: "theboldfont";
            font-size: 1.25rem;
            list-style: square;
        }
    }

    .extra-animacion-equipos {
        padding: 1rem;
        margin-left: 0rem;
        background-color: #dfe6ed;

        .animacion-boton {
            transition: 1s;

            &:hover {
                transform: scale(0.97);
            }

            .boton {
                font-size: 0.60rem;
                text-decoration: none;
                padding: 0.35rem 0.35rem 0.35rem 0.35rem;
                text-align: center;
            }
        }
    }
}