@import'operadores/mapas';

table {
    background-color: map-get($color, blanco-2);
    font-size: 1rem;
    color: map-get($color, gris-oscuro);
    padding: map-get($padding, p3);
    margin-bottom: 2rem;

    thead {
        tr {
            font-size: 1rem;
            font-family: map-get($font-family, font1);
            color: map-get($color, blanco);
            border: solid 0.10rem #2E3E4A;
            background-color: map-get($color, rosa);

            th {
                font-size: 1rem;
                font-family: map-get($font-family, font1);
                color: map-get($color, blanco);
                border: solid 0.10rem #2E3E4A;
                background-color: map-get($color, rosa);
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 1rem;
                font-family: map-get($font-family, font1);
                color: map-get($color, gris-oscuro);
                border: solid 0.10rem #2E3E4A;
                background-color: map-get($color, blanco-2);
            }
        }
    }
}