* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "theboldfont";
    src: url('../fuentes/theboldfont.ttf');
    font-display: swap;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    @media (max-width: 450px) {
        font-size: 2.4rem !important;
    }
}

.subtitulo-header {
    @media (max-width: 450px) {
        font-size: 1rem !important;
    }
}

iframe {
    width: 50%;
    min-height: 25rem;
    resize: none;
    border: solid 0.25rem #2e3e4a;

    @media (max-width: 450px) {
        min-height: 12rem;
        width: 100%;
    }

    @media (min-width:451px) and (max-width: 960px) {
        width: 70%;
    }
}

.descenso{
    background-color: rgba(255, 0, 0, 0.473);
}

.draft-series{
    background-color: rgba(218, 165, 32, 0.753);
}

.puntos{
    font-size: 1.5rem !important;
}