$padding: (
    p035: 0.35rem,
    p06: 0.6rem,
    p08: 0.8rem,
    p1: 1rem,
    p1c5: 1.5rem,
    p2: 2rem,
    p3: 3rem,
    p15: 15rem,
);

$font-family: (
    font1: 'theboldfont',
    font2: 'Segoe UI',
    );

$color: (
    gris:#DFE6ED,
    gris-oscuro: #2E3E4A,
    blanco: white,
    blanco-2: #C3CFD9,
    rosa: #AE84D9,
    violeta: #ae84d9ab,
);